
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #a1c3ff;
  font-family: "Poppins", sans-serif;

}

/**.header-container{

}**/

img{
  max-width: 100%;
}

#navbar{
  height: 80px;
  width: 100%;
  background-color: #395b96;
  color: #ffff;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

#navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center ;
  height: 100%; 
}

#navbar ul{
  display: flex;
  list-style-type: none;
}

#navbar ul li{
  display: inline-block;
  margin-left: 30px;
}

#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

#navbar a :hover{
  color: aquamarine;
}

#hero-section{
  background-color: #475266;
  color: #ffff;
  min-width: 400;
}

#hero-section .hero-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-section img{
  max-width: 400;
}

#hero-section .hero-content h1, p{
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}


#boxes{
  background-color: rgb(115, 136, 129);
}

#boxes .boxes-container{
  display: flex;
  justify-content: space-between;
}

.boxes-container{
  width: 1100px;
  /*margin-left: 50px;
  margin-right: 50px;*/
  margin: 0 auto;
}

.box{
  background-color: rgb(47, 14, 230);
  border-radius: 20px;
  margin-top: 20px;
  margin-inline: 10px;
  margin-bottom: 20px;
  justify-content: center;
  padding: 16px 20px;
  flex: 1;
  align-items: center;
  color: #fff;
  width: 400px;
}

i, h1{
  display: inline-block;
  justify-content: center;
  margin-inline: 5px;
}


.box i{
  font-size: 24px;
}

.box p{
  align-items: end;
  margin-inline-start: 30px;
  font-size: 50;
  margin-left: 5px;

}

